

{% extends "signup-layout.html" %}
{% block content %}


        <div class="form-container">
          <form method="POST" class="form-register"  enctype="multipart/form-data"  id="Update_Recieving_Account">
            <div class="form-group">
              <label for="phoneNumber">Connect Wallet</label>
              <input type="text" class="form-control" name="Eth Account" placeholder="Please connect Wallet" style="display:none;" readonly>
            </div>
            <button type="buttom" class="btn btn-primary" name="submit-wallet" style="display:none;">Use as Default Wallet</button>
          </form>
          <button class="btn btn-primary" name="Connect-Wallet" onclick="connect_wallet()">Connect Wallet</button>

        </div>
 




<script>


Class_Element = function(name){
  return document.getElementsByName(name)[0];
};

async function connect_wallet()
{

  accounts = await ethereum.request({ method: 'eth_requestAccounts' });

  Class_Element("Connect-Wallet").style.display = "none";
  Class_Element("submit-wallet").style.display = "";
  Class_Element("Eth Account").style.display = "";
  Class_Element("Eth Account").setAttribute("value",accounts[0]);
  //Class_Element("phoneNumber").setAttribute("readonly","");
  //Class_Element("phoneNumber").style    = "border:0px";


}




</script>

{% endblock %}
